/* File Contains all Colors for Table cells */

/* CATEGORIES */
$personal:#d9ead3;
$knowledge:#cfe2f3;
$career:#fce5cd;
$automotive:#e6b8af;
$it:#93c47d;
$government:#f9cb9c;
$finance:#d9ead3;
$estate:#9fc5e8;
$fitness:#4a86e8;
$health:#b6d7a8;
$other:#999999;

/* STATUS */
$unfinished:#b7b7b7;
$inProgress:#fff2cc;
$finished:#d9ead3;
$cancelled:#f4cccc;
$delayed:#ff9900;
$continuous:#d0e0e3;
$onHold:#f1c232;
$speculation:#d9d2e9;

/* THREAT LEVEL */
$low:#d9ead3;
$medium:#fff2cc;
$high:#f1c232;
$alarming:#f4cccc;
$inevitable:#000000;

/* DEADLINE ROW COLOR*/
$noDeadline:#FFF;
$aWeekAway:#F4F754;
$threeDaysAway:#FAB12F;
$deadlineToday:#DD0303;
$deadlinePassed:#44444E;