<div class="tableContainer">
  <task-form></task-form>
  <table mat-table [dataSource]="tasksSource" matSort matSortActive="Deadline" matSortDirection="desc" class="mat-table mat-elevation-z8">

    <caption style="caption-side: top;">
      <h2>{{title}} Tasks Table</h2>
      <p>
        A list of all {{title | lowercase}} tasks.
      </p>
    </caption>

      @for (col of taskColumns; track col) {
        <ng-container [matColumnDef]="col">
          <th mat-header-cell *matHeaderCellDef>  {{ col }} </th>
          @if (col == 'Options') {
            <td mat-cell *matCellDef="let element"> 
                <button mat-flat-button color="primary">Finish</button>
                <button mat-flat-button color="primary">Update</button>
                <button mat-flat-button color="success">Delete</button>
            </td>
          } @else {
            <td mat-cell *matCellDef="let element"> 
              {{ col == 'Deadline' || col == 'Created At' ? deadlineFormatHelper(element[col]) : element[col] }} 
            </td>
          }
        </ng-container>
      }

      <tr mat-header-row *matHeaderRowDef="taskColumns; sticky: true "></tr>
      <tr mat-row *matRowDef="let row; columns: taskColumns;" [ngClass]="evaluateDate(row)"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" [attr.colSpan]="taskColumns.length">No data found.</td>
      </tr>
    </table>
</div>

