<button mat-flat-button (click)="isModalOpen = true">New Task</button>

<modal [title]="'New Task'" [visible]="isModalOpen" (close)="isModalOpen = false">
    <form [formGroup]="taskForm" (ngSubmit)="onSubmit()"> 
        <mat-dialog-content>
            <mat-grid-list cols="2" rowHeight="100px" gutterSize="10px">
                
                <mat-grid-tile colspan="1">
                    <mat-form-field>
                        <mat-label>Task</mat-label>
                        <input matInput formControlName="title">
                        @if(hasError('title', 'required')){
                            <mat-error>
                                Task title is **required**.
                            </mat-error>
                        }
                        @if(hasError('title', 'minlength')){
                            <mat-error>
                                Title must be at least 3 characters.
                            </mat-error>
                        }
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile colspan="1">
                    <mat-form-field>
                        <mat-label>Deadline</mat-label>
                        <input matInput [matDatepicker]="picker3" formControlName="deadline">
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="picker3"></mat-datepicker-toggle>
                        <mat-datepicker #picker3></mat-datepicker>
                    </mat-form-field>    
                </mat-grid-tile>

                <mat-grid-tile colspan="2">
                    <mat-form-field [style.width.px]=440>
                        <mat-label>Description</mat-label>
                        <textarea matInput formControlName="note" style="resize: none;"></textarea>
                        @if (hasError('note', 'required')) {
                            <mat-error>
                                Description is **required**.
                            </mat-error>
                        }
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile colspan="1">
                    <mat-form-field>
                        <mat-label>Category</mat-label>
                        <mat-select formControlName="cat_id">
                            @if (categories$ | async; as categories) {
                                @for (category of categories; track category.id) {
                                    <mat-option [value]="category.id">{{category.cat}}</mat-option>
                                }
                            } @else {
                                <mat-option disabled>Loading categories...</mat-option>
                            }
                        </mat-select>
                        @if(hasError('cat_id', 'required')){
                            <mat-error>
                                Category is **required**.
                            </mat-error>
                        }
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile colspan="1">
                    <mat-form-field>
                        <mat-label>Priority</mat-label>
                        <input matInput type="number" min="0" formControlName="prio" placeholder="Enter a number">
                        @if (hasError('prio', 'required') ) {
                            <mat-error>
                                Priority is **required**.
                            </mat-error>
                        }
                        @if (hasError('prio', 'min')) {
                            <mat-error>
                                Priority must be a number greater than 0.
                            </mat-error>
                        }
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile colspan="1">
                    <mat-form-field>
                        <mat-label>Threat Level</mat-label>
                        <mat-select formControlName="threat_id">
                            @if (threats$ | async; as threats) {
                                @for (threat of threats; track threat.id) {
                                    <mat-option [value]="threat.id">{{threat.level}}</mat-option>
                                }
                            } @else {
                                <mat-option disabled>Loading threat levels...</mat-option>
                            }
                        </mat-select>
                        @if(hasError('threat_id', 'required')){
                            <mat-error>Threat Level is **required**.</mat-error>
                        }
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile colspan="1">
                    <mat-form-field>
                        <mat-label>Status</mat-label>
                        <mat-select formControlName="stat_id">
                            @if (statuses$ | async; as statuses) {
                                @for (status of statuses; track status.id) {
                                    <mat-option [value]="status.id">{{status.stat}}</mat-option>
                                }
                            } @else {
                                <mat-option disabled>Loading statuses...</mat-option>
                            }
                        </mat-select>
                        @if(hasError('stat_id', 'required')){
                            <mat-error>Status is **required**.</mat-error>
                        }
                    </mat-form-field>
                </mat-grid-tile>

            </mat-grid-list>
        </mat-dialog-content>
        <mat-dialog-actions>
            <button mat-flat-button class="modalBTN" type="submit" [disabled]="taskForm.invalid">Submit</button> 
        </mat-dialog-actions>
    </form>
</modal>